  <!-- Modal Structure -->
  <div id="modalIndex" class="modal">
    <div class="modal-content">
      <h4>From NY Times</h4>
      <p>You have {{length}} scraped articles</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>