  <nav>
    <div class="nav-wrapper #039be5 light-blue darken-1">
      <a href="/" class="brand-logo">Mongo Scraper</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/myarticles">Saved Articles</a></li>
        <li><a class="waves-effect waves-light btn-large red scrape-site">Scrape New Articles</a></li>
      </ul>
    </div>
  </nav>
        