<div class="main-title-container">
    <div class="main-title">
        <h1 class="center">Mongo Scraper</h1>
        <h5 class="center">New York Times Edition</h5>
    </div>
    <div id="wrapper">
        <div class="row">
        {{> articles}}
        </div>
        {{> notes}}
    </div>
</div>

<script src="app.js"></script>