body{
    background-image: url("../images/newspapers.jpg");    
}
.main-title-container{
    width: 100%;
}
.main-title{
    width: 500px;
    margin: auto;

}
.margin-left-5{
    margin-left: 5px;
}